<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <!-- Path relative to solution directory -->
    <ResultsDirectory>.\TestResults</ResultsDirectory>

    <!-- [x86] | x64  
      - You can also change it from menu Test, Test Settings, Default Processor Architecture -->
    <!--<TargetPlatform>x86</TargetPlatform>-->

    <!-- Framework35 | [Framework40] | Framework45 -->
    <TargetFrameworkVersion>Framework40</TargetFrameworkVersion>
    <TreatTestAdapterErrorsAsWarnings>true</TreatTestAdapterErrorsAsWarnings>
  </RunConfiguration>

  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage xmlns="">
            <Regular>
              <CodeCoverageItem binaryFile="DevCamps.Data\bin\Debug\DevCamps.Data.dll" pdbFile="DevCamps.Data\bin\Debug\DevCamps.Data.pdb" instrumentInPlace="true" />
            </Regular>
            <AspNet>
              <AspNetCodeCoverageItem id="2b4c826b-2ec8-41a3-a857-b7ff70f5a424" name="DevCamps.Web" url="http://localhost:50907/" isIis="true" />
            </AspNet>
          <ModulePaths>
            <Exclude>
              <!-- <ModulePath>.*CPPUnitTestFramework.*</ModulePath> -->
            </Exclude>
          </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>

    </DataCollectors>
  </DataCollectionRunSettings>

  <!-- Adapter Specific sections -->

  <!-- MSTest adapter -->
  <!-- <MSTest>
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest> -->


</RunSettings>
