<h1>Schedule</h1>

<div id="scheduleDataTechFilters" class="brown-bar clearfix">
    <ul class="unstyled applied-filters"></ul>

    <a class="filter-dropdown-toggle" href="#">Filter <span class="filter-enabled-indicator">(on)</span> <span class="hidden-phone">Schedule</span>
        <i class="icon-angle-down"></i><i class="icon-angle-up"></i></a>
    <ul class="unstyled filter-list">
    </ul>
</div>

<table id="scheduleDataTable" class="display dataTable">
    <thead>
        <tr>
            <th class="col01">Location <i class="icon-angle-up"></i><i class="icon-angle-down"></i></th>
            <th class="col02">Date <i class="icon-angle-up"></i><i class="icon-angle-down"></i></th>
            <th class="col03">Tech<span class="hidden-phone">nology</span> <i class="icon-angle-up"></i><i class="icon-angle-down"></i></th>
            <th class="col04">Register <i class="icon-angle-up"></i><i class="icon-angle-down"></i></th>
            <th class="col05">CampType</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>
