@model DevCamps.Data.Models.Event

@{
    ViewBag.Title = "Administration - Edit Event";
}
<section class="admin events">
    <div class="editor bg-1">

        <h2>Edit Event</h2>

        @using (Html.BeginForm())
        {
            @Html.EditorForModel();
            
            <div class="column">
                <div class="action-button">
                    <input type="submit" class="button" value="Save" />
                </div>
            </div>
            <div class="column">
                <a href="@Url.Action("Index")">
                    <div class="button">
                        <p>Cancel</p>
                    </div>
                </a>
            </div>
            <div class="clear" />
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
