<section class="span9">
    <header>
        <h1>Agenda</h1>
        <p>Every Office & SharePoint Camp is different, but here’s an example of the topics covered at a Office & SharePoint Camp.</p>
    </header>

    <div class="row-fluid">
        <div class="agenda-item">
            <div class="title">Here's what you can expect to learn:</div>
            <div class="description">
                <ul>
                    <li>Building apps for Office</li>
                    <li>Building apps for SharePoint (Office 365 SharePoint Online)</li>
                    <li>Web technologies used to build with the cloud app model</li>
                    <li>And more...</li>
                </ul>
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Come prepared!</div>
            <div class="description">
                <ul>
                    <li>Bring your own developer environment on your laptop or have access to this environment for website development/ deployment.</li>
                    <li>Visual Studio 2012 Pro or above and the Office Developer Tools (Note: You can download VS 2012 Pro as a free trial, see link below. For those that don&rsquo;t typically use VS, there are some parts of the workshop that rely on VS since tooling for some of the packaging is not yet available for other platforms. If your laptop OS does not support a Visual Studio 2012 install, we&rsquo;ll have a workaround at the event).
        <ul>
            <li>See the Tools section <a title="Tools" href="http://msdn.microsoft.com/en-US/office/apps/fp123627">here.</a></li>
        </ul>
                    </li>
                    <li>Sign up for the free Office 365 Developer Site preview <a title="Preview" href="http://msdn.microsoft.com/en-us/library/office/apps/fp179924(v=office.15)">here</a>.</li>
                    <li>Install Office 2013 desktop clients from your developer site.</li>
                    <li>Have your own hosted web server for deploying your web site.
        <ul>
            <li>If you don&rsquo;t have one, sign up for a Windows Azure free trial <a title="Trial" href="http://www.windowsazure.com/en-us/pricing/free-trial/?WT.mc_id=WWE001_1032529745">here</a> and learn about Windows Azure Web Sites.</li>
        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
