<section class="span9">
    <header>
        <h1>Agenda</h1>
        <p>Every Windows Phone Camp is different, but here’s an example of the topics covered at a Windows Phone Camp.</p>
    </header>

    <div class="row-fluid">
        <div class="agenda-item">
            <div class="title">Windows Phone 8 Overview for Developers</div>
            <div class="description">
                In this session, you'll get an overview which tells you what you need to get started building
									applications for Windows Phone and explains what's new and exciting in Windows Phone 8.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Windows Phone 8 Development Fundamentals including Application Life-Cycle, Basic MVVM, Data Storage, Workers, Agents and Tasks</div>
            <div class="description">
                Windows Phone 8 provides the ability for users to switch quickly between running applications. This dramatically enhances the end-user experience and
									will be expected by end-users. In this session you'll learn how fast app switching works and how to best use this functionality. You'll also learn how
									to use the MVVM to create managable code and how to deal with your application's data storage needs. Finally, we'll show you how to incorporate background
									tasks into your applications for notifications, file transfers and audio.								
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">More than an App on Windows Phone 8 including Live Tiles, Notifications, Lenses and ways to interact with the user outside of the sandbox</div>
            <div class="description">
                The Live Tile is a defining experience of the Windows Phone 8 platform and end-users have come to expect apps to provide full support for the Live Tiles
									feature. In this session we'll dive deep into Live Tiles to review what they are, how to include them in your apps and how to leverage the Push
									Notification service in your Live Tiles.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Windows Phone 8 Sensors covering Maps, Geo Location, Wallet, Proximity and Speech</div>
            <div class="description">
                Make your applications come alive by taking advantage of the rich sensor support that's built into
									Windows Phone 8! This session tells you what you need to know to work with the sensor API's.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Monetizing a Windows Phone Application through the Dev Center and the Windows Phone Store</div>
            <div class="description">
                You've built a great Windows Phone application, now what? This session will provide you with the insights you
									need into the tools and processes necessary to distribute and monetize your app in the Windows Phone Store. Windows
									Phone 8 provides several distinctive characteristics (e.g. trial API) that you can leverage to make your applications stand out.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Build your app or work on a hands-on lab</div>
            <div class="description">
                It's time put what you've learned to use by building real applications. This is a great opportunity to get to work
									with help and insight from expert instructors.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">What’s Next/Resources</div>
            <div class="description">
                In this session we'll provide a road map for further learning and more advanced topics. We'll send you on your way
									with a detailed list of resources that will help you stay on track as you design and develop your Windows Phone app.
            </div>
        </div>
    </div>
</section>
