<section class="span9">
    <header>
        <h1>Agenda</h1>
        <p>Every Windows Azure Developer Camp is different, but here&rsquo;s an example of the topics that could be covered at a Windows Azure Developer Camp.</p>
    </header>

    <div class="row-fluid">
        <div class="agenda-item">
            <div class="title">Meet the New Windows Azure</div>
            <div class="description">
                Windows Azure is a flexible and open cloud platform for a wide variety of applications ranging from web sites to enterprise and mobile applications. In this foundation session we will demonstrate how to quickly build and deploy applications using the new Windows Azure features and services including Windows Azure Web Sites, Virtual Machines, and new developer tools and SDKs.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Web Sites on Windows Azure</div>
            <div class="description">
                Windows Azure Web Sites is a simple and powerful hosting platform that allows developers to easily build and rapidly deploy web applications on Windows Azure using their favorite languages, frameworks, and tools.&nbsp; We will explain how you can use this new technology to build, deploy, and run everything from classic ASP sites to modern ASP.NET MVC 4 web applications using both new and familiar tools including Visual Studio 2010, Visual Studio 2012, and WebMatrix.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Cloud-Ready Data Services</div>
            <div class="description">
                Windows Azure includes a complete set of enterprise-ready data services, including Windows Azure Storage and SQL Databases. In this demo-filled session developers will see how to can effectively use these services to develop and migrate data-centric applications to Windows Azure, while using familiar tools.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Windows Azure Virtual Machines and Virtual Networks</div>
            <div class="description">
                Join us for a tour of the features that make up the new Windows Azure Virtual Machines and Virtual Networks offerings. Using demonstrations throughout, we will explain Virtual Machine storage architecture and shows how to provision and customize virtual machines, configure network connectivity between virtual machines, and configure site-to-site networks that enable true applications that span from on-premises to Windows Azure. We will also review specifically the features that enable you to create highly available Virtual Machine-based services and how to connect Virtual Machines with Cloud Services.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Windows Azure Storage</div>
            <div class="description">
                Windows Azure Storage is a highly available and massively scalable storage service in the cloud for storing a variety of forms of data. In this session, you will learn how to get started using Windows Azure storage blobs, tables, queues, and drives.
            </div>
        </div>
    </div>
</section>
