<section class="span9">
    <header>
        <h1>Agenda</h1>
        <p>Every Web Developer Camp is different, but here&rsquo;s an example of the topics covered at a Web Developer Camp.</p>
    </header>

    <div class="row-fluid">
        <div class="agenda-item">
            <div class="title">Keynote: The ASP.NET Web Platform in Context</div>
            <div class="description">
                We'll start with a quick keynote which lays out roadmap for the day. We'll make sure you're familiar with the core building blocks and tools used to create modern web applications on the Microsoft web platform, then examine some key web development scenarios the modern web platform helps you solve.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">What&rsquo;s new in ASP.NET 4.5 and Visual Studio 2012</div>
            <div class="description">
                In this session, we'll show you how easy it is to take advantage of some seriously powerful features in ASP.NET 4.5 and Visual Studio 2012. We'll overview top new features in our latest releases and show how they all fit together into a cohesive, comprehensive web development toolkit that provides you with both ease of use and extreme flexibility.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Building and deploying websites with ASP.NET MVC 4</div>
            <div class="description">
                In this session, you'll learn how to get started with ASP.NET MVC 4. We'll start with a new project, add in data access with Entity Framework Code First, build out some business logic and client-side interaction, and deploy it using Windows Azure Web Sites. But we're not done there: you'll see how new features in ASP.NET MVC, Entity Framework migrations and Visual Studio 2012 help you to gracefully handle site updates.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Creating HTML5 Applications with jQuery</div>
            <div class="description">
                By now you should know that HTML5 is literally the best thing to happen to the web in years. There is a massive array of new tags that provide support for video, audio, embedded fonts, databinding, and in-browser data persistence. When coupled with advancements in JavaScript technology like jQuery and the myriad of jQuery plugins available for free, the ability to create truly dynamic client experiences is limited only by your imagination. Add to that the new Single Page Application template using Knockout.js, and you've got a whole new web of opportunities to blow your users' minds.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Building a service layer with ASP.NET Web API</div>
            <div class="description">
                Your web applications can do a lot more than serve HTML to browsers. With ASP.NET Web API, you can easily provide powerful services in a variety of formats (including XML and JSON) without your having to fight with formats, plumbing code, and configuration. ASP.NET Web API was designed to help you leverage the HTTP protocol, so you can build services the right way minimal effort. You'll see how you can take make use of these services to power devices and apps as well as cutting edge Ajax clients.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Leveraging your ASP.NET development skills to build apps for Office</div>
            <div class="description">
                Did you know that the new cloud-based app model lets you build apps for Office and SharePoint on the ASP.NET platform? The new app model embraces standard web technologies, so you can build an all new class of apps for Office and SharePoint using your HTML, JavaScript and ASP.NET skills. You'll see how the combination of ASP.NET and ASP.NET Web API backed applications hosted in Windows Azure lets you build and ultimately land your apps in the Office Store. The apps for Office and SharePoint in the Store on office.com are available to both on-premises and Office 365 users of Office and SharePoint worldwide.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Building and leveraging social services in ASP.NET</div>
            <div class="description">
                What if you could enable users to log into your site using social services like Facebook, Google, Twitter and their Microsoft Account? What if you could create full Facebook applications without having to spend time learning about the Facebook developer platform? You can! ASP.NET now offers great support for social platforms and services, and in this platform you'll learn how to put that new power to work!
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Building for the mobile web</div>
            <div class="description">
                Find out how to build websites that work great on mobile devices using new features in ASP.NET MVC. You've got a range of option, from built-in adaptive rendering (using standard CSS media queries) to offering mobile and device-specific views with Display Modes, all the way to full mobile websites powered by jQuery Mobile and the ASP.NET MVC Mobile Application template.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Real-time communications with SignalR</div>
            <div class="description">
                Like to provide real-time client-server communications in a way that works cross-browser and doesn't require an advanced degree in JavaScript? Time for SignalR! SignalR handles the tricky client-server communications with automatic protocol fallback, so you can focus on the fun. We'll look at some applications, from business sites to games, and you'll see how recent updates make it even easier to bring SignalR into your applications.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Using Cloud Application Services</div>
            <div class="description">
                Learn how to take advantage the rich array of services Windows Azure offers to scale your site. We'll see how to start with a standard ASP.NET site hosted on Windows Azure Web Sites and take advantage of Service Bus Integration, Storage, and Caching in Web Role.
            </div>
        </div>
    </div>
</section>
