<section class="span9">
    <header>
        <h1>Agenda</h1>
        <p>Every Windows&nbsp;Developer Camp&nbsp;is different, but here&rsquo;s an example of the topics covered at a typical Windows Developer Camp.</p>
    </header>

    <div class="row-fluid">
        <div class="agenda-item">
            <div class="title">The Windows 8 Platform for&nbsp;Windows Store&nbsp;Apps</div>
            <div class="description">
                Windows 8 is Windows re-imagined. Join this session to learn about the new platform for building Windows Store apps. Get an understanding of the platform design tenets, the programming language choices and the integration points with the operating system and apps.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">The Windows 8 Platform for&nbsp;Windows Store&nbsp;Apps</div>
            <div class="description">
                Windows 8 is Windows re-imagined. Join this session to learn about the new platform for building Windows Store apps. Get an understanding of the platform design tenets, the programming language choices and the integration points with the operating system and apps.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Designing with Microsoft Design Principles and Windows Personality</div>
            <div class="description">
                Windows 8 marks the next step in the evolution of the Microsoft design style. Through the bold use of color, typography and motion, Microsoft design brings a fresh new approach to the user experience. In this talk, you'll learn the design principles behind Microsoft design and get insights into how to apply these principles in your own apps.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Everything Web Developers Must Know to Build Windows Store Apps</div>
            <div class="description">
                Learn how you can use your web skills to build Windows&nbsp;Store apps using HTML5, CSS3 and JavaScript. In this session you&rsquo;ll discover how to harness the rich capabilities of Windows 8 through JavaScript and the Windows Runtime. You will learn about navigation, user experience patterns and controls, inherent async design and the seamless integration with the operating system that will let you create great&nbsp; apps.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Building Windows Store Apps with XAML: What .NET Developers Need to Know</div>
            <div class="description">
                If you are experienced with .NET or Silverlight and are already familiar with XAML, this session will teach you everything you need to know to create a Windows Store app. This session will cover updates to familiar features and explore concepts that are new for Windows 8. This session will show you how to turn your XAML skills into money-making apps.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">UI for Building Windows Store apps</div>
            <div class="description">
                Windows 8 introduces a new set of ready-to-use UI controls to help you create beautiful apps quickly. Learn about these powerful and highly flexible controls and how to use them to implement the common patterns that deliver great user experiences.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Integrating with Windows 8 Experiences</div>
            <div class="description">
                Windows 8 contracts are agreements between Windows 8 and your Windows Store app that allow you to integrate your app into Windows 8 experiences. For example, Windows 8 lets users share content from one app to another by using the Share contract. In this session, you'll learn how contracts work and how to implement the built-in contracts such as Search, Share, Settings and Play To.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Bring Your Apps to Life with Tiles and Notifications</div>
            <div class="description">
                Tiles draw users back into your app by bringing your tile to life on the Start screen. Notifications, delivered through the Windows Notification Service, draw users back into your app even when it's not running. In this session you'll learn how to implement Tiles, Notifications and allow users to personalize their Start screen by creating pinned Tiles.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">How and When Windows Store Apps Run</div>
            <div class="description">
                Learn the fundamentals of Process Lifetime Management and how to structure your app to suspend and resume quickly, save app states properly and behave consistently. For media or real-time communications, we will show you how to keep your experiences available and always connected while still letting Windows 8 manage the system resources to provide a great end-user experience and long-lasting battery life.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">Building&nbsp;Windows Store&nbsp;Apps that leverage Modern Hardware</div>
            <div class="description">
                MultiTouch, camera, near-field-communications and sensors for location, light, and motion are just a few of the many hardware components available in Windows 8 when running on modern hardware. Learn how to take advantage of this modern hardware to create better apps.
            </div>
        </div>

        <div class="agenda-item">
            <div class="title">The Developer Opportunity: Introducing the Windows Store</div>
            <div class="description">
                In this session, we'll cover the end-to-end lifecycle of an application from developer registration, to app submission, to analytics and feedback. You'll also learn the various opportunities to monetize your application including subscriptions, trial apps, advertisements and in-app purchases.
            </div>
        </div>
    </div>
</section>
