<img src="@Url.Content("~/Content/themes/DevCamps/images/windows-azure-logo.png")" alt="Windows Azure" class="camp-logo" />
<p>
    Windows Azure Developer Camps are free, fun, no-fluff events for developers, by developers.  You learn from experts in a low-key, interactive way and then get hands-on time to apply what you’ve learned.
</p>
