<img src="@Url.Content("~/Content/themes/DevCamps/images/web-logo.png")" alt="Web" class="camp-logo" />
<p>
    Web Developer Camps are free, fun, no-fluff events for developers, by developers.  You learn from experts in a low-key, interactive way and then get hands-on time to apply what you’ve learned.
</p>
