<!--Downloads-->
<aside class="span3 sidebar">
    <h1>Downloads</h1>

    <dl class="download-list">
        <dt><a href="https://dev.windowsphone.com/en-us/downloadsdk">Windows Phone SDK</a></dt>
        <dd>
            <p>The Windows Phone Software Development Kit (SDK) provides you with all of the tools that you need to develop applications and games for Windows Phone devices.</p>
        </dd>

        <dt><a href="https://dev.windowsphone.com/en-us">Windows Phone Dev Center Registration</a></dt>
        <dd>
            <p>
                The Windows Phone Dev Center has the <em><a href="https://dev.windowsphone.com/en-us/downloadsdk">free tools</a></em>, the
							
                        <em><a href="http://msdn.microsoft.com/en-us/library/windowsphone/develop">information</a></em>, and the
							
                        <em><a href="http://dev.windowsphone.com/en-us/community">community</a></em> you need to create and publish amazing
								apps and games to reach every Windows Phone user.
            </p>
        </dd>

        <dt><a href="http://msdn.microsoft.com/en-us/hh220612">Windows Phone Training Course</a></dt>
        <dd>
            <p>This course will give you hands-on experience with important developer features in Windows Phone</p>
        </dd>
    </dl>
</aside>
<!--End Downloads-->
