<!--Downloads-->
<aside class="span3 sidebar">
    <h1>Downloads</h1>

    <dl class="download-list">
        <dt><a href="http://msdn.microsoft.com/en-US/evalcenter/jj554510.aspx?wt.mc_id=MEC_132_1_4">Windows 8</a></dt>
        <dd>
            <p>
                If you&rsquo;re an MSDN subscriber, you can get Windows&nbsp;8 RTM from <a href="http://msdn.microsoft.com/en-us/subscriptions/default.aspx">MSDN Subscriber Downloads </a>.<br />
                <br />
                If you&rsquo;re not an MSDN subscriber, you can download an evaluation version of Windows 8 RTM from <a href="http://www.microsoft.com/click/services/Redirect2.ashx?CR_CC=200125101">Evaluation Center </a>. Note this version will expire and you cannot upgrade.
            </p>
        </dd>

        <dt><a href="http://msdn.microsoft.com/en-us/windows/apps/hh852659">Visual Studio 2012 Express for Windows 8</a></dt>
        <dd>
            <p>Visual Studio 2012 Express for Windows 8 is your tool to build Windows Store apps. It includes the Windows 8 SDK, Blend for Visual Studio, and project templates.</p>
        </dd>

        <dt><a href="http://www.windowsazure.com/en-us/pricing/free-trial/">Windows Azure 90-day free trial</a></dt>
        <dd>
            <p>Try Windows Azure for <a title="Windows Azure 90-day free trial" href="http://www.windowsazure.com/en-us/pricing/free-trial/" target="_blank">free</a>. Windows Azure is an open cloud platform that enables you to quick build, deploy and manage applications.</p>
        </dd>

        <dt><a href="http://msdn.microsoft.com/en-us/windows/apps/br229516">Related Tools, SDKs, and Downloads</a></dt>
        <dd>
            <p>Once you have Windows 8 Release Preview and Visual Studio 2012 Express RC for Windows 8, check out these related resources including design assets, sample apps and more!</p>
        </dd>
    </dl>
</aside>
<!--End Downloads-->
