<!--Downloads-->
<aside class="span3 sidebar">
    <h1>Downloads</h1>

    <dl class="download-list">
        <dt><a href="http://msdn.microsoft.com/en-US/office/apps/fp123627">Office Developer Tools</a></dt>
        <dd>
            <p>Visual Studio 2012 Pro or above and the Office Developer Tools (Note: You can download VS 2012 Pro as a free trial, see link below. For those that don&rsquo;t typically use VS, there are some parts of the workshop that rely on VS since tooling for some of the packaging is not yet available for other platforms. If your laptop OS does not support a Visual Studio 2012 install, we&rsquo;ll have a workaround at the event.)</p>
        </dd>

        <dt><a href="http://go.microsoft.com/fwlink/?LinkID=248297&amp;clcid=0x409">Office 365 Developer Site preview</a></dt>
        <dd>
            <p>Sign up for the free Office 365 Developer Site preview <a title="Preview" href="http://msdn.microsoft.com/en-us/library/office/apps/fp179924(v=office.15)">here</a>.</p>
        </dd>

        <dt><a href="http://www.windowsazure.com/en-us/pricing/free-trial/?WT.mc_id=WWE001_1032529745">Windows Azure free trial</a></dt>
        <dd>
            <p>If you don&rsquo;t have one, sign up for a Windows Azure free trial <a title="Trial" href="http://www.windowsazure.com/en-us/pricing/free-trial/?WT.mc_id=WWE001_1032529745">here</a> and learn about Windows Azure Web Sites.</p>
        </dd>

        <dt><a href="http://dev.office.com/">Dev.Office.com</a></dt>
        <dd>
            <p>Visit <a title="Dev.Office.com" href="http://dev.office.com/">dev.office.com</a> and read up on apps for Office and SharePoint.</p>
        </dd>
    </dl>
</aside>
<!--End Downloads-->
