<!--Downloads-->
<aside class="span3 sidebar">
    <h1>Downloads</h1>

    <dl class="download-list">
        <dt><a href="http://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&amp;appid=VWDOrVs11AzurePack">Visual Studio Express 2012</a></dt>
        <dd>
            <p>Visual Studio Express 2012 is a free version of Visual Studio which includes support for ASP.NET 4.5 and ASP.NET MVC 4.</p>
        </dd>

        <dt><a href="http://go.microsoft.com/fwlink/?LinkID=248297&amp;clcid=0x409">Web Camps Training Kit</a></dt>
        <dd>
            <p>All the content you need for camp is included in the December 2012 release of the Web Camps Training Kit.</p>
        </dd>
    </dl>
</aside>
<!--End Downloads-->
