<!--Downloads-->
<aside class="span3 sidebar">
    <h1>Downloads</h1>

    <dl class="download-list">
        <dt><a href="http://www.contentinstaller.net/Install/ContentGroup/WAPCamps">Windows Azure Camps Kit</a></dt>
        <dd>
            <p>The Windows Azure Camps Training Kit uses the new Content Installer to install all prerequisites, hands-on labs and presentations that are used for the Windows Azure Camp events.</p>
        </dd>

        <dt>Manual Install</dt>
        <dd>
            <p>If you&rsquo;d like to manually install the tools and SDKs, you can use the following links:</p>
            <ul>
                <li><a href="http://www.microsoft.com/visualstudio/en-us/products/2010-editions/express">Visual Studio 2010 Express</a> (or higher)</li>
                <li><a href="http://www.microsoft.com/web/gallery/install.aspx?appid=WindowsAzureToolsVS2010">Windows Azure SDK for .NET &ndash; November 2011</a> (or higher)</li>
                <li><a href="http://www.iis.net/ConfigReference/system.webServer/tracing">IIS: Tracing</a></li>
                <li><a href="http://www.microsoft.com/download/en/details.aspx?displaylang=en&amp;id=26729">SQL Server 2008 R2 Management Studio Express with SP1</a></li>
            </ul>
        </dd>
    </dl>
</aside>
<!--End Downloads-->
