<!--FAQ-->
<section class="span9">
    <header class="large">
        <h1>FAQ</h1>
    </header>
    <dl class="faq-list">
        <dt>What is a Developer Camp?</dt>
        <dd>Developer Camps (DevCamps for short) are free, fun, no-fluff events for developers, by developers. You learn from experts in a
							low-key, interactive way and then get hands-on time to apply what you’ve learned.
						</dd>
        <dt>What will I learn at a Windows Azure Developer Camp?
        </dt>
        <dd>At the Windows Azure Developer Camps, you’ll learn what’s new in developing cloud solutions using Windows Azure. Windows Azure is an internet-scale cloud computing and services platform hosted in Microsoft data centers. Windows Azure provides an operating system and a set of developer services used to build cloud-based solutions. Windows Azure Developer Camps are a great place to get started with Windows Azure development or to learn what’s new with the latest Windows Azure features.
        </dd>

        <dt>How much does it cost to attend a Windows Azure Developer Camp?
        </dt>
        <dd>The camps are free. You need to pay for your own travel and expenses to attend and bring a laptop if you’d like to do the labs, but attendance is free.
        </dd>

        <dt>How can I contact the Windows Azure Camps team?
        </dt>
        <dd>Email us at <a href="mailto:azurecamp@microsoft.com">azurecamp@microsoft.com</a> or <a href="http://twitter.com/#!/DeveloperCamps">@@DeveloperCamps</a>.
        </dd>

                <dt>What do I need to do to prepare for attending a Windows Azure Developer Camp?
        </dt>
        <dd>You’ll need to register to attend a camp. You can find an event and register on the <a href="/windowsazure">schedule page</a>. If you’d like to do the labs or build at app at camp you’ll need to bring a laptop configured with all the tools and hands on labs content. You can get details on how to do that on the <a href="/windowsazure">downloads page</a>.
        </dd>
    </dl>

</section>
<!--End FAQ-->
