<!--FAQ-->
<section class="span9">
    <header class="large">
        <h1>FAQ</h1>
    </header>
    <dl class="faq-list">
        <dt>None yet, coming soon!</dt>
        <dd>:)
        </dd>
    </dl>

</section>
<!--End FAQ-->
