<!--FAQ-->
<section class="span9">
    <header class="large">
        <h1>FAQ</h1>
    </header>
    <dl class="faq-list">
        <dt>What is a Developer Camp?</dt>
        <dd>Developer Camps (DevCamps for short) are free, fun, no-fluff events for developers, by developers. You learn from experts in a low-key, interactive way and then get hands-on time to apply what you’ve learned.
        </dd>

        <dt>What will I learn at a Web Developer Camp?
        </dt>
        <dd>At the Web Developer Camps, you’ll learn what’s new in developing web sites using ASP.NET MVC, WebMatrix, OData and more.
        </dd>

        <dt>How much does it cost to attend a Web Developer Camp?
        </dt>
        <dd>The camps are free. You need to pay for your own travel and expenses to attend and bring a laptop if you’d like to do the labs, but attendance is free.
        </dd>

        <dt>What do I need to do to prepare for attending a Web Developer Camp?
        </dt>
        <dd>You’ll need to register to attend a camp. You can find an event and register on the <a href="/web">schedule page</a>. If you’d like to do the labs or build a site at camp you’ll need to bring a laptop configured with all the tools and hands on labs content. You can get details on how to do that on the <a href="/web">downloads page</a>.
        </dd>

        <dt>How can I contact the Web Developer Camps team?
        </dt>
        <dd>Email us at <a href="mailto:webcamps@microsoft.com">webcamps@microsoft.com</a> or <a href="http://twitter.com/#!/DeveloperCamps">@@DeveloperCamps</a>
        </dd>
    </dl>

</section>
<!--End FAQ-->
