<ul class="slides unstyled">
    <li>
        <a href="http://www.windowsphone.com">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/MeetTheNewWindowsPhone.v2.png" alt="" />
            <div class="caption">
                <h2>Meet the new Windows Phone</h2>
                <div class="description">
                    <p>Meet the new Windows Phone: The smartphone reinvented around you</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://www.windowsphone.com/en-us/phones">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/NewPhones.v2.png" alt="" />
            <div class="caption">
                <h2>New phones coming in November</h2>
                <div class="description">
                    <p>Find out more about the linup of great new phones available in November.</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://dev.windowsphone.com">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/WelcomeDevelopers.v2.png" alt="" />
            <div class="caption">
                <h2>The Windows Phone Dev Center</h2>
                <div class="description">
                    <p>The Windows Phone Dev Center tells you everything you need to know to develop and sell your Windows Phone applications.</p>
                </div>
            </div>
        </a>
    </li>
</ul>
