<ul class="slides unstyled">
        <li>
        <a href="http://msdn.microsoft.com/en-US/office/apps">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/office%20sharepoint%20app%20builder.v2.PNG" alt="" />
            <div class="caption">
                <h2>Office and SharePoint</h2>
                <div class="description">
                    <p>The all new cloud app extensibility model for Office and SharePoint 2013 enables building a whole new class of productivity solutions for Office and SharePoint. And the new Office Store on Office.com provides the venue for these apps to be delivered to millions of Office and Office 365 SharePoint Online users worldwide.   In these DevCamps, developers will learn the concepts of the new app model and how to use it for building apps for Office and SharePoint. Topics for building apps for SharePoint range from how to read/write to SharePoint as a service using its rich APIs whether the JavaScript/managed code object model or via REST/oData, how events that happen on SharePoint can drive actions in your app, to using SharePoint search via the APIs.   Topics for apps for Office include how to build task pane, content and mail apps that render in the Office client applications, use the JavaScript object model to interact with documents and mail items, and how to deploy apps for Office as standalone solutions or part of an app for SharePoint. Other topics will cover how to think about elasticity, scalability and reliability of your backend services and the steps for getting your app into the Office Store.</p>
                </div>
            </div>
        </a>
    </li>
</ul>
