<ul class="slides unstyled">
    <li>
        <a href="http://www.microsoft.com/web/downloads/platform.aspx">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/WebHappyFamily.v2.png" alt="" />
            <div class="caption">
                <h2>Microsoft Web Platform Installer 3.0</h2>
                <div class="description">
                    <p>Get latest components of the Microsoft Web Platform, including Internet Information Services (IIS), SQL Server Express, .NET Framework and Visual Web Developer easy. The Web PI also makes it easy to install and run the most popular free web applications for blogging, content management and more with the built-in Windows Web Application Gallery.</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://archive.msdn.microsoft.com/WATBingMaps">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/WebToolKit-Bing.v2.png" alt="" />
            <div class="caption">
                <h2>Location-aware scenarios with Bing Maps</h2>
                <div class="description">
                    <p>Find a set of reusable custom controls built in Silverlight, which integrated with the Bing Maps Silverlight Control, make a perfect fit for some of the most common location-aware scenarios. With this Toolkit, you will also find a sample Silverlight application showing how to use those controls when implementing a “store locator” scenario on a Web site.</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://channel9.msdn.com/Events/aspConf/aspConf">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/aspconf-banner.v2.png" alt="" />
            <div class="caption">
                <h2>aspConf Videos Online</h2>
                <div class="description">
                    <p>Watch awesome presentations given by ASP.NET community leaders and keynote presentations provided by non other than Scott Guthrie and Scott Hanselman</p>
                </div>
            </div>
        </a>
    </li>
</ul>
