<ul class="slides unstyled">
    <li>
        <a href="http://channel9.msdn.com/Events/WindowsAzure/AzureConf2012">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/Scott-Guthrie-Windows-Azure-Conf.v2.png" alt="" />
            <div class="caption">
                <h2>Watch the Learn Windows Azure Videos</h2>
                <div class="description">
                    <p>Watch tons of great content, including a keynote by Scott Guthrie, from the first ever Windows Azure Conf!</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://www.devcamps.ms/windowsazure/schedule">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/WindowsAzureCamps.v2.png" alt="" />
            <div class="caption">
                <h2>Go to Camp!</h2>
                <div class="description">
                    <p>Windows Azure Developer Camps are free, fun, no-fluff events for developers, by developers.  You learn from experts in a low-key, interactive way and then get hands-on time to apply what  you’ve learned. Registration is open, so sign up today!</p>
                </div>
            </div>
        </a>
    </li>
</ul>
