@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Microsoft DevCamps</title>
    <link type="text/css" rel="stylesheet" href="/Content/Themes/DevCamps/reset.css">
    <link type="text/css" rel="stylesheet" href="/Content/Themes/DevCamps/Site.css">
    <script src="http://use.typekit.com/lzk1eig.js" type="text/javascript"></script>
    <script type="text/javascript">        try { Typekit.load(); } catch (e) { }</script>
    <link type="image/x-icon" rel="shortcut icon" href="/Content/Themes/DevCamps/images/orchard.ico">
</head>
<body>
<div id="landing-content">
    <div id="parallax">
        <div id="error-background">
        <h1 id="landing-logo">Microsoft Dev Camps
            </h1>
            <div id="bubble">
                <p>
                    Fun, free, &amp; open to all!</p>
            </div>
            <div id="trail">
            </div>
        </div>
        <div id="error">
            <div class='content'>
                <h1 class="landing-phone-header">
                    NOT FOUND</h1>
                <p>
                    The page you requested was not found. You may have clicked an expired link or mistyped the address. Use your back button to go back to the previous page or visit the <a href="/">home page</a>.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>