<h1>App of the Month</h1>
<div class="app-details clearfix">
    <img src="@Url.Content("~/Content/themes/DevCamps/images/angry-birds-logo.png")" />
    <div class="title">Angry Birds</div>
    <div class="dev-by">
        Developed by:<br />
        Snorlax Studios
    </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus sapien, faucibus sed scelerisque at, semper id nibh. Maecenas vitae nisl diam, id ultrices augue. Donec nec ipsum in est sollicitudin lacinia. Curabitur tincidunt, dui ac pellentesque tristique, nisl odio tincidunt.</p>
