<ul class="slides unstyled">
    <li>
        <a href="http://channel9.msdn.com/Events/Build/2012/1-001">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/steve-ballmer-build-keynote-1.v2.png" alt="" />
            <div class="caption">
                <h2>Check out the //build/ keynotes</h2>
                <div class="description">
                    <p>New to the Windows Store app development? Check out this Channel 9 video of Steve Ballmer presenting the "Welcome to Windows 8" keynote from the //build/ conference for a great overview.  There are more keynote videos in the series to get deeper!</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://msdn.microsoft.com/en-us/windows/apps/br229516">
            <img src="https://devcampswebsite.blob.core.windows.net/content/FeaturedItems/Picture/Windows8DevCenter.v2.png" alt="" />
            <div class="caption">
                <h2>Downloads for Developers</h2>
                <div class="description">
                    <p>Registered for a Windows 8 Developer Camp and want to get ready for Windows 8 development? The Windows Dev Center has everything you need including Windows 8 and Microsoft Visual Studio 2012 Express for Windows 8 (including the Windows 8 SDK, Blend for Visual Studio, and project templates).</p>
                </div>
            </div>
        </a>
    </li>
</ul>
