<h1>Recommended Blogs</h1>
<ul class="unstyled linklist">
    <li><a href="#">Anonymous Developer</a></li>
    <li><a href="#">The Codemaster</a></li>
    <li><a href="#">Jeff Wilcox</a></li>
    <li><a href="#">Larry Lieberman</a></li>
    <li><a href="#">Daniel Egan, Developer</a></li>
</ul>
